*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color: #666;
    text-align: center;
}
audio {
    width: 450px;
    margin: 30px 0;
}
.container{
    height: 500px;
    overflow: hidden;
}
.container::-webkit-scrollbar{
    display: none;
}
.container ul{
    list-style: none;
    transition: 0.6s;
    /*transform: translateY(-20px);*/
}
.container ul li{
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    transition: 0.6s;
}
.container ul li.active{
    color: #48d57c;
    transform: scale(1.2);
}