*{
    margin: 0;
}
.backdrop{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image:linear-gradient(rgb(208, 229, 220),rgb(142, 199, 208),rgb(82, 164, 197)) ;
}
.a1,.a2,.a3{
    width: 500px;
    height: 500px;
    margin: auto calc((100% - 1500px)/6);
    border-radius: 97% 0% 100% 10% / 0% 100% 3% 98% ;
    font-size: 2em;
    position: relative;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
}
button{
    background-color: rgba(0,0,0,0);
    border: 0;
    font-size: 1em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
}