<!--
 * @Author: xb 1439545090@qq.com
 * @Date: 2024-09-18 08:42:47
 * @LastEditors: xb 1439545090@qq.com
 * @LastEditTime: 2024-10-08 10:45:27
 * @FilePath: \code\vue\03.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        .main{
            width: 400px;
            margin: 0px auto;
            background-color: pink;
            padding: 10px;
            
        }
        .main,fieldset,input,button{
            border: 1px dashed black;
        }
        input{
            padding: 3px;
        }
        ul{
            margin: 10px 0px;
            padding: 0px;
        }
        li{
            list-style: none;
        }
        .done{
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app">
        <fieldset class="main">
            <legend>代办事项</legend>
            <div>
                <input type="text" v-model="newTodo">
                <button @click="add()">添加</button>
            </div>
            <ul>
                <li v-for="(item,index) in show">
                {{index+1}}.<input type="checkbox" v-model="item.isFinite"><span :class="{'done':item.isFinite}">{{item.name}}</span><span style="margin: 0px 10px;" @click="todoList.splice(todoList.indexOf(item),1)">X</span>
                </li>
            </ul>
            <div>
                共有{{todoList.length}}项，还有{{todoList.filter(item=>!item.isFinite).length}}项
                <button @click="showType = 'all'">全部</button>
                <button @click="showType = 'undone'">已完成</button>
                <button @click="showType = 'done'">待完成</button>
            </div>
        </fieldset>
    </div>
    <script>
        new Vue({
            el:'#app',
            data(){
                return {
                    todoList:[
                        {   id:'1',
                            name:'吃饭',
                            isFinite:true
                        },
                        {   id:'2',
                            name:'睡觉',
                            isFinite:false
                        },
                        {   id:'3',
                            name:'打豆豆',
                            isFinite:true
                        }
                    ],
                    newTodo:'',
                    showType:'all'
                }
            },
            methods:{
                add(){
                    this.todoList.push({
                        id:this.todoList.length+1,
                        name: this.newTodo,
                        isFinite:false})
                }
            },
            computed:{
                show(){
                    if(this.showType == 'all'){
                        return this.todoList
                    }else if(this.showType == 'done'){
                        return this.todoList.filter(item=>!item.isFinite)
                    }else if(this.showType == 'undone'){
                        return this.todoList.filter(item=>item.isFinite)
                    }
                    }
                }
            })
    </script>
</body>
</html>