<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" ../css/红包图片.css">
</head>
<body>
    <div class="blurDiv">
        <img src="../images/pic.png" alt="" class="blurImg" id="blurImg">
        <canvas id="myCanvas"></canvas>
        <a href="javascript:reset()" class="button" id="btnReset">想看我吗</a>
        <a href="javascript:open()" class="button" id="btnOpen">收到红包</a>
    </div>
</body>
<script src="../js/红包图片.js"></script>
</html>