.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.header {
  width: 100%;
  background: white;
  padding: 33px 0;
  position: relative;
}

nav ul li {
  margin: 0 35px;
  display: inline-block;
  /* 将其设置为块级元素 */
}

nav ul li a {
  color: #000;
  font-size: 1.25em;
  /*20px÷16px=1.25*/
  font-weight: 500;
  /* 定义字体粗细 */
}

nav ul li a:hover,
nav ul li a.active {
  color: #999;
}

/* 复选框用于切换菜单的开合状态 */
nav input[type="checkbox"],
.menu {
  position: absolute;
  /* 相对于父元素绝对定位 */
  left: 2%;
  top: 10px;
  /* display: none; */
  /* 隐藏不显示 */
}

.logo {
  position: absolute;
  /* 绝对定位，设置宽高 */
  right: 10%;
  top: 0%;
}

/*-- banner部分样式代码 --*/
.banner {
  width: 100%;
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;

/* zrd */
  min-height: 540px;
}

/* 中间区域代码 */
.mission {
  background: #fbffec;
  padding: 60px 0;
}

.mission-header h3 {
  font-family: 'Droid Serif', serif;
  font-size: 2em;
  color: #159400;
  text-align: center;
}

.mission-container {
  margin-top: 35px;
}

.mission_div {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}

.mission-left img {
  width: 100%;
}

.mis-one {
  margin-bottom: 2rem;
}

.mis-left {
  width: 15%;
  float: left;
}

.mis-left img {
  width: 100%;
}

.mis-right {
  width: 82%;
  float: right;
}

.mis-right h3 {
  font-size: 1.25em;
  /*20px÷16px=1.25*/
  color: #7DDF6C;
}

.mis-right p {
  font-size: 0.875em;
  /*14px÷16px=0.875*/
  color: #000;
  line-height: 1.8em;
  margin: 12px 0 0 0;
}

/*--footer--*/
.footer {
  padding: 18px 0;
  background: #000;
}

.footer p {
  margin: 9px 0 0 0;
  font-size: 0.875em;
  color: #fff;
  text-align: center;
}

.footer p a {
  color: #fff;
}

.footer p a:hover,
.footer p a.active {
  color: #f1f1f1;
}